{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h3>思いつくままに書いてみよう。</h3>
{% endblock page_header %}

{% block content %}

    <p><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></p>

    <p>新しい記事を追加</p>
    <form action="{% url 'learning_logs:new_entry' topic.id %}" method="POST" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-primary">記事を追加</button>
        {% endbuttons %}
    </form>

{% endblock content %}